<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    {# CSS #}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    {% endblock %}

    {# Favicon #}
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    {# Google Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('main_home') }}" title="Page d'accueil">
                    <img src="{{ asset('img/logo.svg') }}" alt="Logo Bucket-List"></a>Bucket-List</h1>
            {% include('main/nav.html.twig') %}
        </div>
    </header>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            &copy; Bucket-List {{ "now"|date('Y') }}
        </div>
    </footer>
</body>
</html>